main {
  background: #e3e6f3;
  background: linear-gradient(to bottom, #cdcfdc, white);
  min-height: 92dvh !important;
}

.account {
  height: 92dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  section.account {
    flex-direction: column;
  }

  .left {
    width: 100% !important;
    margin-top: 6rem;
  }

  .right {
    width: 100% !important;
  }
}

@media screen and (max-width: 375px) {
  .loginregis {
    width: 330px !important;
  }

  .carousel-inner {
    .carousel-item {
      & img {
        background-position: bottom;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .loginregis {
    width: 300px !important;
  }
}

/* sesi kanan */
.right {
  width: 50%;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.carousel-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  .carousel-item {
    & img {
      min-height: 100vh;
      object-fit: cover;
    }
  }
}

.carousel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sesi kiri */
.left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.row h1 {
  font-size: 60px;
  color: black;
  font-weight: 600;
  transition: 0.5s;
}

.row h1:hover {
  -webkit-text-stroke: 2px green;
  color: black;
}

.bgloginregis {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 400px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
}

/* login register */
.popup-login {
  margin-top: 1rem;
  width: 130px;
  height: 50px;
  background: green;
  border: 2px solid green;
  color: white;
  border-radius: 6px;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.popup-login:hover {
  background: transparent;
  color: green;
  border: 2px solid green;
}

.loginregis {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: transform 0.5s ease, height 0.2s ease;
  overflow: hidden;
  z-index: 99;
}

.loginregis.active-popup {
  transform: scale(1);
}
.loginregis .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: white;
  font-size: 32px;
  color: midnightblue;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.loginregis .form-login {
  transition: transform 0.18s ease;
  position: absolute;
  transform: translateX(0);
}
.loginregis.active .form-login {
  transition: none;
  transform: translateX(-400px);
}
.loginregis .form-regis {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.loginregis.active .form-regis {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.loginregis.active {
  height: 540px;
}

.loginregis h2 {
  font-size: 32px;
  color: black;
  text-align: center;
}
.form-input {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}
.form-input label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.form-input input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding: 0 35px 0 5px;
}
.form-input input:focus ~ label,
.form-input input:valid ~ label {
  top: -5px;
}

.activeLabel {
  top: 5px;
}
.form-input .icon {
  position: absolute;
  right: 8px;
  font-size: 20px;
  color: black;
  line-height: 57px;
}

.form-input .toggle-password {
  position: absolute;
  right: 8px;
  font-size: 20px;
  color: black;
  line-height: 57px;
}
.remember-forgot {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin: -15px - 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: black;
  margin-left: 3px;
}
.remember-forgot a {
  color: black;
}
.remember-forgot a:hover {
  color: midnightblue;
}
.btn {
  width: 100%;
  height: 45px;
  border: none;
  background: white;
  outline: none;
  font-size: 20px;
  border-radius: 6px;
  letter-spacing: 1px;
  color: black(144, 132, 132);
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  color: midnightblue;
}

.login-register {
  font-weight: bold;
  color: black;
  font-size: 14px;
  text-align: center;
  margin: 25px 0 10 px;
}
.login-register a {
  color: black;
  font-weight: bold;
}
.login-register a:hover {
  color: midnightblue;
}
