main {
  padding-top: 6rem;
  padding-bottom: 3rem;
  overflow: hidden;
}



hr {
  width: 10%;
  height: 5px;
  border: none;
  margin: auto;
  margin-top: -2rem;
  margin-bottom: 2.5rem;
  background: red;
}

#cartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.shop-button, .shop-button2 {
  color: black;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.shop-button2-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.shop-button:hover, .shop-button2:hover {
  color: green;
  font-weight: 600;
}

.shop-button::after, .shop-button2::after {
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}

.shop-button:hover::after, .shop-button2:hover::after {
  width: 100%;
}

.empty-purchase-history {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
}

#cartItems {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.cartIsEmptyText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#emptyCart {
  min-height: 100vh;
}

.product-name {
  padding-top: 1rem;
  font-weight: bold;
}

.product-title {
  font-weight: bold;
}

.product-description {
  height: 100px; /* adjust as needed */
  overflow: auto; /* add a scrollbar if the content is too long */
}

.totalItems2 {
  text-align: center;
}

.remove-btn.btn-outline {
  color: #f44336;
  border-color: #f44336;
}

.remove-btn.btn-outline:hover {
  background-color: #f44336;
  color: #fff;
}

.checkout-btn.btn-outline {
  color: #4caf50;
  border-color: #4caf50;
}

.checkout-btn.btn-outline:hover {
  background-color: #4caf50;
  color: #fff;
}

.purchase-history-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.purchase-history-wrapper {
  max-width: 70rem;
  overflow: hidden;
}

.purchase-history-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.historyText {
  padding-top: 10rem; 
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
  width: 90%;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center; 
  height: 100%;  */
}

.clear-history-btn {
  display: flex;
  margin-top: 2rem;
  background-color: #f8f9fa;
  color: #343a40;
  border-color: #343a40;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.clear-history-btn:hover {
  background-color: #343a40;
  color: #f8f9fa;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.picsum-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    padding-top: 4rem;
    width: 100%;
    height: auto;
  }
}


/* New CSS for cart items */
.product {
  display: grid;
  grid-template-columns: auto 1fr 2fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  /* padding: 1rem; */
  border: 1px solid #eee;
}

.product-history {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: auto 1fr; */
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  /* padding: 1rem; */
  border: 1px solid #eee;
}


/* Checkbox 
Courtesy of Himalaya Singh 
https://getcssscan.com/css-checkboxes-examples */
.checkbox-wrapper-26 * {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.checkbox-wrapper-26 input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper-26 label {
  --size: 50px;
  --shadow: calc(var(--size) * .07) calc(var(--size) * .1);

  position: relative;
  display: block;
  width: var(--size);
  height: var(--size);
  margin: 0 auto;
  background-color: #f72414;
  border-radius: 50%;
  box-shadow: 0 var(--shadow) #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color,
    0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
}

.checkbox-wrapper-26 label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: calc(var(--size) * .7);
  height: calc(var(--size) * .7);
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 var(--shadow) #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
}

.checkbox-wrapper-26 label:hover:before {
  width: calc(var(--size) * .55);
  height: calc(var(--size) * .55);
  box-shadow: inset 0 var(--shadow) #ff9d96;
}

.checkbox-wrapper-26 label:active {
  transform: scale(0.9);
}

.checkbox-wrapper-26 .tick_mark {
  position: absolute;
  top: -1px;
  right: 0;
  left: calc(var(--size) * -.05);
  width: calc(var(--size) * .6);
  height: calc(var(--size) * .6);
  margin: 0 auto;
  margin-left: calc(var(--size) * .14);
  transform: rotateZ(-40deg);
}

.checkbox-wrapper-26 .tick_mark:before,
.checkbox-wrapper-26 .tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}

.checkbox-wrapper-26 .tick_mark:before {
  left: 0;
  bottom: 0;
  width: calc(var(--size) * .1);
  height: calc(var(--size) * .3);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
  transform: translateY(calc(var(--size) * -.68));
}

.checkbox-wrapper-26 .tick_mark:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(var(--size) * .1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  transform: translateX(calc(var(--size) * .78));
}

.checkbox-wrapper-26 input[type="checkbox"]:checked + label {
  background-color: #07d410;
  box-shadow: 0 var(--shadow) #92ff97;
}

.checkbox-wrapper-26 input[type="checkbox"]:checked + label:before {
  width: 0;
  height: 0;
}

.checkbox-wrapper-26 input[type="checkbox"]:checked + label .tick_mark:before,
.checkbox-wrapper-26 input[type="checkbox"]:checked + label .tick_mark:after {
  transform: translate(0);
  opacity: 1;
}

.product-image-cart {
  width: 100%;
}

.product-image-purchase-history {
  width: 100%;
  /* grid-row: 1/3;
  grid-column: 1/2; */
}

.product-image-cart img, .product-image-purchase-history img {
  width: 100%;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.price-title,
.total-price-title,
.quantity-title,
.checkout-time-title {
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.product-quantity input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin: 0 1rem;
}

.product-quantity button {
  background: none;
  border: none;
  font-size: 1.6em;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
  justify-content: center;
}

.product-quantity button:hover {
  color: #007BFF;
}

.product-removal {
  display: flex;
  justify-content: center;
}

.remove-product-cart, .remove-product-history {
  color: #f44336;
  border: none;
  background: none;
  cursor: pointer;
}

.price-value {
  text-align: center;
}

.product-checkout-time{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

/* Tumbleweed animation
Courtesy of Aidan Breen
https://codepen.io/aido179-1471800764/pen/jZJjpo */
.empty-icon-container {
  margin: 1em auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Dosis", sans-serif;
}

.animation-container {
  position: relative;
  display: block;
  text-align: center;
  height: 100px;
  width: 100px;
  border-bottom: solid 2px #333;
  overflow: hidden;
}

.tumbleweed {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  background-size: contain;
  animation: bounceAnim 1s cubic-bezier(0.63, 0.09, 0.75, 0.46) infinite
      alternate,
    spinAnim 3s linear infinite;
  width: 3rem;
  height: auto;
}

@keyframes bounceAnim {
  0%,
  10% {
    bottom: 50%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes spinAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pebble1 {
  position: absolute;
  top: 95%;
  background-color: #333;
  width: 10px;
  height: 10px;
  border-radius: 20px 20px 0px 0px;
  animation: pebblesAnim 1s linear infinite;
}

.pebble2 {
  position: absolute;
  top: 97%;
  background-color: #333;
  width: 5px;
  height: 5px;
  border-radius: 10px 10px 0px 0px;
  animation: pebblesAnim 2s linear infinite;
}

.pebble3 {
  position: absolute;
  top: 98%;
  background-color: #333;
  width: 3px;
  height: 3px;
  border-radius: 20px 20px 0px 0px;
  animation: pebblesAnim 3s linear infinite;
}

@keyframes pebblesAnim {
  0% {
    right: -20%;
  }
  100% {
    right: 110%;
  }
}

@media (max-width: 600px) {
  main {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }

  .product-name, .product-price, .product-description {
    padding-left: 1rem;
  }

  .removeButton.btn-outline {
    margin-left: 1rem;
  }

  .picsum-img-wrapper img {
    padding-top: 2rem;
    width: 70%;
  }

  #emptyCart h2 {
    font-size: 2rem
  }

  #cartContainer .cartText {
    font-size: 2rem;
  } 

  .product {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  main {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
  }

  .product-name, .product-price, .product-description {
    padding-left: 2rem;
  }

  .removeButton.btn-outline {
    margin-left: 2rem;
  }

  .picsum-img-wrapper img {
    padding-top: 3rem;
    width: 50%;
  }

  .product {
    grid-template-columns: 1fr 2fr 1fr;  }
}

@media (min-width: 1025px) {
  main {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  .removeButton.btn-outline {
    margin-left: 15rem;
  }

  .picsum-img-wrapper img {
    padding-top: 4rem;
    width: 300px;
    height: 300px; 
    object-fit: cover; 
  }

  .product {
    grid-template-columns: auto 1fr 2fr 1fr 1fr 1fr 1fr;
  }

  .product-history {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;

  }
  .product-price, .product-line-price, .product-quantity-history, product-checkout-time {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .product-quantity {
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  
}
  
/* * {
  border: 1px solid #ff0000;;
} */