/* Feedback */
.feedback {
  .feedback-card {
    border-radius: 1.5rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;

    .user-image {
      grid-row: 1 / 2;
    }

    .user-content {
      grid-row: 2 / 3;
    }

    & div:nth-child(3) {
      grid-row: 3 / 4;
      padding-bottom: 1rem;
    }
  }

  & hr {
    width: 10%;
    height: 5px;
    border: none;
    margin: auto;
    margin-top: -2.25rem;
    margin-bottom: 2.5rem;
    background: green;
  }
}
