/* Hot product */
.hot-product {
  .img-container {
    border-bottom: 0.1px solid grey;

    & img {
      transform: scale(0.8);
      transition: all 0.3s ease;
    }
  }

  .card {
    height: 100%;
    display: grid !important;
    grid-template-rows: 1fr auto auto;

    .img-container {
      border-bottom: 0.1px solid grey;
      overflow: hidden;
      padding: 0;

      & img {
        transform: scale(0.8);
        transition: all 0.3s ease;
        height: 15rem;
        object-fit: cover;
      }
    }

    .card-footer {
      .text-center {
        .addButtonShop {
          padding: 0.5rem 1rem !important;
          border: 2px solid #fff;
        }

        .addButtonShop:hover {
          border: 2px solid #198754 !important;
          background-color: #fff !important;
          color: #198754 !important;

          & i {
            color: #198754;
          }
        }
      }
    }
  }

  .card:hover {
    & img.card-img-top {
      transform: scale(1);
    }
  }

  & h4 {
    cursor: pointer;
    height: 3.5rem;
    overflow: auto;
    color: inherit !important;
  }

  & hr {
    width: 10%;
    height: 5px !important;
    border: none;
    margin: auto;
    margin-top: -2.25rem;
    margin-bottom: 2.5rem;
    background: red;
  }
}
