<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="slide row align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="content">
            <span class="text-warning">Nike Lifestyle Shoes</span>
            <h2>Nike 30% Off</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. A,
              tempore illum aperiam, consequuntur, impedit eum nisi nesciunt ab
              numquam soluta est quos praesentium excepturi veritatis?
            </p>
            <a href="/shop" class="btn btn-primary">Check Out</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="picsum-img-wrapper">
            <img
              src="/assets/slides/slide1.png"
              class="d-block w-100"
              alt="Random first slide"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slide row align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="content">
            <span class="text-warning">Nike Formal Shoes</span>
            <h2>Modern Chic</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Sapiente, temporibus mollitia expedita non doloribus, nemo, eaque
              sit cupiditate similique autem veritatis rem placeat ipsum magni.
            </p>
            <a href="/shop" class="btn btn-primary">Check Out</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="picsum-img-wrapper">
            <img
              src="/assets/slides/slide2.png"
              class="d-block w-100"
              alt="Random second slide"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slide row align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="content">
            <span class="text-warning">Nike Sport Shoes</span>
            <h2>Fresh Kick</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta in
              quo animi consequuntur numquam deserunt quaerat perspiciatis,
              iusto voluptatibus, praesentium minima porro vitae nisi earum?
            </p>
            <a href="/shop" class="btn btn-primary">Check Out</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="picsum-img-wrapper">
            <img
              src="/assets/slides/slide3.png"
              class="d-block w-100"
              alt="Random third slide"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
