<!-- Carousel Component -->
<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <!-- Carousel Inner Content -->
  <div class="carousel-inner">
    <!-- First Slide -->
    <div class="carousel-item active">
      <!-- Slide Content -->
      <div class="slide row align-items-center justify-content-center">
        <!-- Left Column -->
        <div class="col-md-6">
          <!-- Slide Content Wrapper -->
          <div class="content">
            <!-- Slide Title -->
            <span class="text-warning">Nike Lifestyle Shoes</span>
            <h2>Stylish Stride</h2>
            <!-- Slide Description -->
            <p>
              Elevate your every step with our newest arrivals. Experience the
              perfect fusion of fashion-forward design and comfortable
              functionality with our Stylish Stride footwear, crafted to
              complement your unique style effortlessly.
            </p>
            <!-- Slide Action Button -->
            <a href="/shop" class="btn btn-primary">Check Out</a>
          </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-6">
          <!-- Slide Image -->
          <div class="picsum-img-wrapper">
            <img
              src="/assets/slides/slide1.png"
              class="d-block w-100"
              alt="Random first slide"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Second Slide -->
    <div class="carousel-item">
      <!-- Slide Content -->
      <div class="slide row align-items-center justify-content-center">
        <!-- Left Column -->
        <div class="col-md-6">
          <!-- Slide Content Wrapper -->
          <div class="content">
            <!-- Slide Title -->
            <span class="text-warning">Nike Formal Shoes</span>
            <h2>Modern Chic</h2>
            <!-- Slide Description -->
            <p>
              Step into the realm of contemporary elegance with our latest
              footwear collection. Our Modern Chic shoes seamlessly blend
              cutting-edge design with timeless sophistication, ensuring you
              stride ahead with unparalleled style and flair.
            </p>
            <!-- Slide Action Button -->
            <a href="/shop" class="btn btn-primary">Check Out</a>
          </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-6">
          <!-- Slide Image -->
          <div class="picsum-img-wrapper">
            <img
              src="/assets/slides/slide2.png"
              class="d-block w-100"
              alt="Random second slide"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Third Slide -->
    <div class="carousel-item">
      <!-- Slide Content -->
      <div class="slide row align-items-center justify-content-center">
        <!-- Left Column -->
        <div class="col-md-6">
          <!-- Slide Content Wrapper -->
          <div class="content">
            <!-- Slide Title -->
            <span class="text-warning">Nike Sport Shoes</span>
            <h2>Fresh Kick</h2>
            <!-- Slide Description -->
            <p>
              Discover the epitome of modernity and comfort in our latest shoe
              collection. With Fresh Kick, embrace unparalleled freshness and
              style, as each step empowers you with confidence and vitality.
            </p>
            <!-- Slide Action Button -->
            <a href="/shop" class="btn btn-primary">Check Out</a>
          </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-6">
          <!-- Slide Image -->
          <div class="picsum-img-wrapper">
            <img
              src="/assets/slides/slide3.png"
              class="d-block w-100"
              alt="Random third slide"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel Control - Previous -->
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <!-- Carousel Control - Next -->
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
