<!-- Feedback -->
<div
  class="feedback container-fluid d-flex flex-column justify-content-center align-items-center min-vh-100 py-4"
>
  <h3 class="text-center text-uppercase fw-bold mb-5">
    <span class="text-success">Customer</span> Feedbacks
  </h3>
  <hr />

  <div class="feedbacks d-flex justify-content-center">
    <div class="container my-3">
      <div
        class="row g-2 row-cols-1 row-cols-md-4 row-cols-xl-4 d-flex justify-content-around gap-0"
      >
        <!-- Card -->
        <div class="cols-md-3" data-aos="zoom-in-right">
          <div
            class="feedback-card card p-3 text-center px-4"
            style="height: 100%"
          >
            <div class="user-image">
              <img
                src="https://i.imgur.com/PKHvlRS.jpg"
                class="rounded-circle"
                width="80"
              />
            </div>

            <div class="user-content">
              <h5 class="mb-0">Bruce Hardy</h5>
              <span>Shoe Designer</span>
              <p class="mt-2">
                ShoeZone ignites creativity, a playground where various brands
                converge to inspire. It's a canvas for exploring styles and
                trends, a haven for any footwear enthusiast.
              </p>
            </div>

            <!-- Product raiting -->
            <div class="d-flex justify-content-center small text-warning my-2">
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            </div>
          </div>
        </div>

        <div class="col-md-3" data-aos="zoom-in-up">
          <div
            class="feedback-card card p-3 text-center px-4"
            style="height: 100%"
          >
            <div class="user-image">
              <img
                src="https://i.imgur.com/w2CKRB9.jpg"
                class="rounded-circle"
                width="80"
              />
            </div>

            <div class="user-content">
              <h5 class="mb-0">Mark Smith</h5>
              <span>Shoe Engineer</span>
              <p class="mt-2">
                ShoeZone is a marvel of curation, seamlessly blending diverse
                brands into one platform. It streamlines the search for quality
                footwear, a testament to innovative design.
              </p>
            </div>

            <!-- Product raiting -->
            <div class="d-flex justify-content-center small text-warning my-2">
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            </div>
          </div>
        </div>

        <div class="col-md-3" data-aos="zoom-in-left">
          <div
            class="feedback-card card p-3 text-center px-4"
            style="height: 100%"
          >
            <div class="user-image">
              <img
                src="https://i.imgur.com/ACeArwY.jpg"
                class="rounded-circle"
                width="80"
              />
            </div>

            <div class="user-content">
              <h5 class="mb-0">Veera Duncan</h5>
              <span>Celebrity</span>
              <p class="mt-2">
                Absolutely thrilled with the diverse selection at ShoeZone! As a
                celebrity always on the move, having multiple brands in one
                place makes my shoe shopping a breeze. A must-visit for shoe
                enthusiasts!
              </p>
            </div>

            <!-- Product raiting -->
            <div class="d-flex justify-content-center small text-warning my-2">
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <i class="fa-solid fa-star" style="color: #ffd43b"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
