<!-- Hot Product Section -->
<div class="hot-product container-fluid py-5 px-5">
  <!-- Section Title -->
  <h3 class="text-center text-uppercase fw-bold mb-5">
    <span class="text-danger">Hot</span> Products
  </h3>
  <hr />

  <!-- Product Cards Container -->
  <div
    class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 gap-4 gap-md-0 justify-content-center"
  >
    <!-- Card -->
  </div>
</div>
