<div class="client-wrap container-fluid pt-4">
  <h3 class="text-center text-uppercase fw-bold mb-5">
    Our <span class="text-warning">Partners</span>
  </h3>
  <hr />

  <div class="client-in container-fluid d-flex justify-content-center">
    <ul
      class="row g-2 row-cols-1 row-cols-md-4 row-cols-xl-4 d-flex justify-content-around gap-0 gap-md-5"
    >
      <li>
        <img src="/assets/partners/nike.png" alt="Partner" />
        <img src="/assets/partners/nike.png" alt="Partner" />
      </li>
      <li>
        <img src="/assets/partners/adidas.png" alt="Partner" />
        <img src="/assets/partners/adidas.png" alt="Partner" />
      </li>
      <li>
        <img src="/assets/partners/rebook.png" alt="Partner" />
        <img src="/assets/partners/rebook.png" alt="Partner" />
      </li>
      <li>
        <img src="/assets/partners/vans.png" alt="Partner" />
        <img src="/assets/partners/vans.png" alt="Partner" />
      </li>
    </ul>
  </div>
</div>
